/* LINGUAGEM DE MAQUINA - PORTIFÓLIO */

/* ESTILOS GERAIS */
/* --------------- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #1e201f;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
}
.conteiner_principal {
  width: 100%;
  height: 300vh;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.bg_plano_de_fundo_principal {
  transform: translateZ(20px);
  width: 100%;
  height: 110vh;
  background:linear-gradient(180deg, #23424a, #222525, #000000);
  position: relative;
}
.logomarca{
  width: 50%;
  height: 60vh;
  position: absolute;
  top: 12vh;
  margin-left: 24.5%;
  background-image: url('../imagens/logomarca.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  translate: translateZ(-3px);
}
.camada_parallax {
  width: 60%;
  height: 60vh;
  margin-left: 20%;
  position:absolute;
  background-size: contain;
  background-position:center;
  background-repeat:no-repeat;
  transition: transform 0.6s linear;
  transform-origin: center;
  overflow: hidden;
}
.nossa_loja {
  width: 100%;
  height: 130vh;
  display:flexbox;
  justify-content:center;
  align-items: start;  
}
.titulo_nossa_loja, .titulo_estoque {
  width: 100%;
  height: 5vh;
  font-size: 1.8em;
  color: #bbc4c7;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 7vh;
}
.texto_nossa_loja, .texto_estoque{
  width: 70%;
  margin-left: 15%;
  font-size: 1.1em;
  color: #adc0c8;
  font-weight: 300;
  text-align: center;
  margin-top: 7vh;
}
 .carrossel {
  width: 60%;
  height: 60vh; 
  margin-left: 20%;
  margin-top: 20vh;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.painel_de_slides {
  display: flex;
  width: 300%;
  animation: slide 12s infinite;
}
.slide {
  width: 100%;
  flex-shrink: 1;
}
.slide img {
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.406);
  height: auto;
}
@keyframes slide {
  0% { transform: translateX(0); }
  14.28% { transform: translateX(0); }
  28.57% { transform: translateX(-33.3%); }
  42.85% { transform: translateX(-33.3%); }
  57.14% { transform: translateX(-66.6%); }
  71.42% { transform: translateX(-66.6%); }
  100% { transform: translateX(0); }
}
.estoque{
  width: 100%;
  height: 150vh;
  background-color: #1b272b;
  padding-top: 1.5vh;
  display:flexbox;
  justify-content:center;
  align-items: start;  
}

/* cards estoque */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 7vh;
  margin: 10vh auto;
  width: 60%;
}
.card {
  width: 25%;
  height: 45vh;
  perspective: 1000px; 
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg); 
  cursor: pointer;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
}
.card-front {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card-front img {
  width: 100%;
  height: 70%;
  border-radius: 7px;
  object-fit: cover;
  border-bottom: 2px solid #ccc;
}
.card-front h3 {
  margin-top: 10px;
  font-size: 1.1em;
  color: #333;
  line-height: 1.2; /* Garante que o título ocupe 2 linhas */
}
.card-back {
  background: #333;
  color: #fff;
  font-size: 0.8em;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
/* cards estoque */











/* AJUSTES DE RESPONSIVIDADE */
/* --------------------------*/
/* RESOLUÇÃO DESKTOP (MODERNOS) */
@media (max-width: 1366px) {


}
/* RESOLUÇÃO DESKTOP (ANTIGOS) */
@media (max-width: 1024px) {


}
/* RESOLUÇÃO MOBILE (MODERNOS) E TABLETS - PORTRAIT */
@media (max-width: 800px) {

}
/* RESOLUÇÃO MOBILE (ANTIGOS) */
@media (max-width: 390px) {


}